.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    flex: 1;
}
.container :nth-child(odd){
    background-color: chartreuse;
}