    
body{
    background-color: rgb(200, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px;

}
.card {
    background-color: rgb(227, 224, 224);
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
h1{
    padding: 20px;
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

h2{
    color: #34495e;
    margin-bottom: 10px;
}

p{
    margin: 5px 0;
    color: #555;
}

a{
    color: #2980b9;
    text-decoration: none;
}
    

img{
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

footer{
    text-align: center;
    color: gray;
}